.semiCircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.semiCircle:nth-child(1) {
  background-color: #088b8b;
  z-index: 2;
}

.semiCircle:nth-child(2) {
  background-color: #088b8b;

  z-index: 3;
}

.semiCircle:nth-child(3) {
  background-color: #ddd;
  z-index: 4;
}

.outermostCircle {
  width: 390px;
  height: 390px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
}